*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    height: 100vh;
    background: linear-gradient(to right top, #65dfc9, #6cdbeb);
    display: flex;
    align-items: center;
    justify-content: center;
}
.glass{
    width: 60%;
    height: 80vh;
    background: linear-gradient(to bottom right, rgba(255,255,255,.7),rgba(255,255,255,.3));
    border-radius: 2rem;
    z-index: 1;
    backdrop-filter: blur(2rem);
    padding: 20px;
    display: flex;
    justify-content: space-around;
}
h4{
    bottom: 20px;
    position: absolute;
}
img{
    border-radius: 50%;

}
.circle1,.circle2{
     background-color: goldenrod;
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
    position: absolute;
}
.circle1{    
    bottom: 5%;
    right: 15%;
}
.circle2{
    top: 5%;
    left: 15%;
}